<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107011725703-p12sctq8c6r4ke8ntul6icgrir4tifl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107011725703-p12sctq8c6r4ke8ntul6icgrir4tifl2</string>
	<key>API_KEY</key>
	<string>AIzaSyCRT1KpNuIiH-Kb0a_c_EzhnC_Fv8cOyTo</string>
	<key>GCM_SENDER_ID</key>
	<string>107011725703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hack-uci-2021.Avalon</string>
	<key>PROJECT_ID</key>
	<string>avalon-d5a76</string>
	<key>STORAGE_BUCKET</key>
	<string>avalon-d5a76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107011725703:ios:606c25f25e0d95123edb22</string>
</dict>
</plist>